

/*diseños especificos*/
header {
    display: flex;
    margin: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.header__nav ul li a {
    text-decoration: none;
    color: #454868;
}

.header__settings {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header__settings div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 400;
}

.header__settings button {
    background-color: transparent;
    border: 1px solid #D9D9D9;
}
