/* clase. id# */
.punto__6 {
    display: flex;
    flex-direction: column;
    align-items: left;
 
}

a {
    font-size: 30px;
    font-weight: bold;
}

#amarillo {
 color: yellow;
}

#morado {
 color: purple;

}
