div {
    display: flex;
    align-items: center;
    margin: 0px 350px 50px;
}

#titulos {
    color: red;

}

table, td, th {
    border: 1px dotted black;
font-family: 'Times New Roman', Times, serif;
}

table {
    table-layout: fixed;
    width: 100%;
    background-color: yellow;
    border-collapse: collapse;
    border-bottom: 2px dashed red;
}


