/* clase. id# */
.punto__5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#text__verde {
    color: rgb(10, 165, 10);
}

.text__rojo {
    color: red;
}

.text__lineal {
    text-decoration: underline overline;
}

.text__grande {
    font-size: 40px;
}

.text__azul {
    color: blue;
}

#text__rojo_sub {
    color: red;
}